

<!-- Namen -->
<footer class="fixed-bottom bg-dark text-light p-2">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-4 text-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-c-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572
              v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"
              />
            </svg>
            HR-Solution-Management, AG
          </li>
        </ul>
      </div>

      <!-- Icon -->
      <div class="col-4 text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-person-arms-up"
          viewBox="0 0 16 16"
        >
          <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" />
          <path
            d="m5.93 6.704-.846 8.451a.768.768 0 0 0 1.523.203l.810-4.865a.59.59 0 0 1 1.165 0l.810 4.865a.768.768 0 0 0 1.523-.203l-.845-8.451A1.492 1.492 0 0 1 10.5 5.5L13 2.284a.796.796 0 0 0-1.239-.998L9.634 3.84a.72.72 0 0 1-.33.235c-.23.074-.665.176-1.304.176-.64 0-1.074-.102-1.305-.176a.72.72 0 0 1-.329-.235L4.239 1.286a.796.796 0 0 0-1.24.998l2.5 3.216c.317.316.475.758.43 1.204Z"
          />
        </svg>
      </div>

      <!-- Links -->
      <div class="col-4 text-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#" class="text-white">Startseite</a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-white">Über uns</a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-white">Kontakt</a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-white">Impressum</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
